$font:'Rubik', sans-serif;


$color-primary: #ED9902;
$color-dark_2: #2D2B29;
$color-body: #9B968B;
$color-dark: #21201E;
$color-grey: #A19A8B;
$color-white: rgba(255,255,255,0.15);
$color-grad: linear-gradient(180deg, #4D4A45 0%, #292824 100%);

$transition: .2s all ease-in-out;


$radius_btn: 5px; 
$radius_card: 12px; 